%footer
  %div.wrapper
    %p
      Powered by
      = haml :_icon, :locals=>{:url=>"http://ruby-lang.org" , :icon=>"http://ruby-lang.org/favicon.ico"           , :title=>"ruby code"            }
      = haml :_icon, :locals=>{:url=>"http://sinatrarb.com" , :icon=>"http://www.sinatrarb.com/images/favicon.ico", :title=>"sinatra app"          }
      = haml :_icon, :locals=>{:url=>"http://heroku.com"    , :icon=>"http://heroku.com/favicon.ico"              , :title=>"hosted by heroku"     }
      = ".  Data from"
      = haml :_icon, :locals=>{:url=>"http://moreland.vic.gov.au/building-and-planning/planning/planning-permit-applications.html" , :icon=>"http://moreland.vic.gov.au/MCCWR/SiteDesigns/MCC/images/favicon/favicon.ico", :title=>"Moreland Council"}
      = ", with "
      %a(href="/planningalerts.xml") xml
      = " available for"
      = haml :_icon, :locals=>{:url=>"http://planningalerts.org.au", :icon=>"http://planningalerts.org.au/favicon.ico", :title=>"planning alerts"}
      = ".  Code on"
      = haml :_icon, :locals=>{:url=>"http://github.com/yertto/moreland/blob/v#{MY_VERSION}/server.rb", :icon=>"http://github.com/favicon.ico", :title=>"v#{MY_VERSION} of code on git"}
      = ".  Created by"
      = haml :_icon, :locals=>{:url=>"http://www.google.com/profiles/109591544557457917858", :icon=> "http://www.google.com/profiles/c/photos/public/AIbEiAIAAABECKKP8ZTP3oCOhQEiC3ZjYXJkX3Bob3RvKig1NGI1M2IzZmE3ZGI0NjY3YmIyN2JlOWQwMWU3NmY5MGZlOWM5NTdmMAGH4vIz9l9R4gnwRgptLK1oY43Ufw", :title=>"yertto"}
